body{
    text-align: center;
}

.wrapper{
    padding: 8px;
}

.heading{
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.tab-item{
    display: inline-flex;
    font-size: 30px;
    font-weight: bold;
    background: purple;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    text-align: center;
}

.tab-item.active{
    border-color:  black;
    background: rgb(3, 255, 3);
}

.content{
    padding: 20px;
    height: 300px;
    overflow: auto;
    background-color: white;
}