.top-container{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background: #096bfd;
    text-align: center;
}

.scroll-progress-tracking-container{
    height: 10px;
    background: rgb(4, 255, 9);
    width: 100%;
}

.current-progress-bar{
    width: 100%;
    background: purple;
    height: 10px;
}

.data-container{
    margin-top: 100px;
}